.form {
    width: 50%;
    position: relative;
    margin: 5rem auto 6rem;
}

.form input[type="text"] {
    padding: 2rem 0rem 2rem 2rem;
    background: #1e202b;
    color: white;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem;
    letter-spacing: 2px;
}

::placeholder {
    color: #bfc1c8;
}

.form button {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background-color: #009ad8;
    padding: 0 2.5rem;
    border-radius: 3rem;
    font-size: 1.6rem;
}

.form button:hover {
    color: #009ad8;
    background-color: #fff;
}