@media (max-width: 480px) {

    /* Navbar */
    /* body {
        width: 100%;
        height: 100%;
    } */

    .navbar {
        padding: 1rem 0;
    }

    .navbar .logo {
        font-size: 1rem;
    }

    .navbar-nav {
        margin-left: -5rem;
    }

    .navbar-toggler {
        background-color: #fff !important;
    }

    .navbar .link {
        color: white !important;
        font-size: 0.7rem;
        width: 10rem;
    }

    /* Home */
    .row .left {
        height: 40rem;
        margin: 0 1rem 0 1rem;
    }

    .left p {
        font-size: 1rem;
    }

    .left h1 {
        font-size: 1.8rem;
        margin: 0rem 0 1rem 0;
        letter-spacing: 2px;
    }

    .left button {
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
    }

    .row .right {
        height: 0rem;
        position: absolute;
        top: 13rem;
    }

    .right img {
        width: 10rem !important;
    }

    /* Form */
    .form {
        width: 25rem;
        margin: 3rem auto 4rem;
    }

    .form input[type="text"] {
        font-size: 1rem;
        padding: 1.5rem 0 1.5rem 1.5rem;
        letter-spacing: 1px;
    }

    .form button {
        font-size: 1rem;
        letter-spacing: 1px;
    }

    /* Weather Info */
    .weatherInfo {
        width: 25rem;
        height: 14rem;
    }

    .top_layer p {
        font-size: 0.8rem;
        padding: 1rem;
    }

    .main_layer {
        padding: 1rem;
    }

    .main_layer .city_name {
        font-size: 1rem;
        padding: 1rem 0;
    }

    .middle_layer p, .middle_layer .fa {
        font-size: 2rem;
    }

    /* Footer */
    .footer p {
        font-size: 0.7rem;
        line-height: 3rem;
    }
}